/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer {
    background-color: #0000FF; /* Blue color */
    color: white;
    text-align: center;
    padding: 1em 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h1, h2, h3 {
    font-weight: 300;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
    border-left: 3px solid #333;
}

iframe {
    border: none;
    margin-top: 20px;
}

/* "Return to top" button */
#topBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    padding: 20px;
    border-radius: 50px; /* Make the button round */
    font-size: 16px;
}

#topBtn:hover {
    background-color: #555;
}

/* Modern font for the entire site */
body {
    font-family: 'Roboto', sans-serif;
}

/* Ensure the font is applied to header elements */
header h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}


#popup-banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #809ff; /* Or whatever color screams 'look at me!' */
    text-align: center;
    z-index: 1000;
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 50px; /* Ensure there's enough space for vertical centering */
}
#banner-message {
    font-size: 25px;
    font-weight: bold;
     color: #000000; 
}
